{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Вот ссылка на мой GitHub: <br> 
  <a class="navbar-brand" href="https://github.com/LeoNefesch/">
    https://github.com/LeoNefesch/</a><br>
  И ссылка на hh.ru: <br>
  <a class="navbar-brand"
    href="https://perm.hh.ru/resume/fc610ad5ff09c1e2880039ed1f59556e536f77">
  https://perm.hh.ru/resume/fc610ad5ff09c1e2880039ed1f59556e536f77 </a><br>
  <br>
  <i>Вдохновляет освоение новых вершин </i><br>
</p>
{% endblock %}